.TextOnColorDisplay {
  margin: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .swatch {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin: 16px;

    .text {
      background-color: transparent;
    }
  }
}
