.TextPicker {
  margin: 32px;
  display: flex;

  div + div {
    margin-left: 16px;
  }

  div.field {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      margin-bottom: 2px;
    }

    input {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      margin-top: 4px;
      border: unset;
      border-bottom: 1px solid #000;
      margin-bottom: 1px;

      &:focus {
        outline: none;
        border-bottom: 2px solid #164080;
        margin-bottom: 0px;
      }
    }
  }

}
